<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="transformdoc">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode configOverrides="iisnode.yml"/>
  </system.webServer>
  <appSettings>
	<add key="ROOTPATH" value="/transformdoc" />
  </appSettings>  
</configuration>